{% extends "layout.html" %}

{% block body %}
    <form action="/greet" method="post">
        <input name="toto" type="text">
        <input type="submit">
    </form>
    
    <form action="/spolu" method="get">
        <button type="submit" >Spolu</button>
    </form>
    <form action="/hw" method="get">
        <button type="submit" >HW</button>
    </form>
    </form>
    <form action="/hello" method="get">
        <button type="submit" >Hello</button>
    </form>
    </form>
    <form action="/hell" method="get">
        <button type="submit" >Zvire</button>
    </form>
    <form action="/test" method="get">
        <button type="submit" >TYP</button>
    </form>
{% endblock %}